#game-result-text {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#vs-text {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#choices > div {
  text-align: center;
}

#result-text {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-top: -30px;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

#play-again-btn {
  display: block;
  margin: 0 auto;
}

button {
  color: #222831;
  background-color: #F1EFEF;
  border: 2px solid #222831;
  border-radius: 10px;
  padding: 15px 30px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #222831;
  color: #F1EFEF;
}

#user-choice,
#computerChoice {
  margin: 20px;
}
